# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Web related
.web/
**/node_modules/
package-lock.json

# Android Studio / Gradle related
.gradle/
/android/app/debug
/android/app/profile
/android/app/release
/android/local.properties
/android/key.properties
*.keystore
*.jks

# iOS related
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_assets/
**/ios/ServiceDefinitions.json
**/ios/Runner/GoogleService-Info.plist

# macOS / Linux / Windows builds
/macos/Flutter/ephemeral/
/windows/flutter/ephemeral/
/linux/flutter/ephemeral/

# Firebase / Secret / Environment keys
.env
.env.*
google-services.json
firebase_options_local.dart

# Swift Project
ynab - swift/
ynab - swift
ynab-swift/
ynab-swift

